/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* ===== CSS Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Base Styles ===== */
body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
    color: #333;    
}

/* ===== Links ===== */
a {
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
}

/* ===== Images ===== */
img {
    max-width: 100%;
    display: block;
}

/* ===== Lists ===== */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
    /* font-family: "Noto Serif", serif; */
    font-family: myFirstFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    /* font-family: "Noto Serif", serif; */
    /* font-family: "Questrial", sans-serif; */
    font-family: mysevenFont;
}

/* ===== font-family ===== */

/* font-family: "Poppins", sans-serif; */
/* font-family: "Noto Serif", serif; */
/* font-family: "Questrial", sans-serif; */
  /* font-family: "Inter", sans-serif; */



/* font family start */

  @font-face {
     font-family: myFirstFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-BOLD.OTF);
  }

    @font-face {
     font-family: mysecondFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-BOLDCOND.OTF);
  }

    @font-face {
     font-family: mythirdFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-BOLDCONDIT.OTF);
  }

    @font-face {
     font-family: myForthFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-BOLDIT.OTF);
  }

    @font-face {
     font-family: myFifthFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-COND.OTF);
  }

    @font-face {
     font-family: mysixFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-CONDIT.OTF);
  }

    @font-face {
     font-family: mysevenFont;
     src: url(/fonts/myriad-pro/MyriadPro-Light.otf);
  }

    @font-face {
     font-family: myEightFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-REGULAR.OTF);
  }

    @font-face {
     font-family: mynineFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-SEMIBOLD.OTF);
  }

    @font-face {
     font-family: mytenFont;
     src: url(/fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.OTF);
  }



      @font-face {
     font-family: timescgbolditalic;
     src: url(/fonts/times-cg/Times\ CG\ Bold\ Italic.otf);
  }

      @font-face {
     font-family: timescgbold;
     src: url(/fonts/times-cg/Times\ CG\ Bold.otf);
  }

      @font-face {
     font-family: timescgitalic;
     src: url(/fonts/times-cg/Times\ CG\ Italic.otf);
  }

      @font-face {
     font-family: timescg;
     src: url(/fonts/times-cg/Times\ CG.otf);
  }

/* font famly emnds from here  */

/* ===== Variables (Optional) ===== */
:root {
    --primary-color: #eccd99;
    --background-color: #faf1e2;
    --heading-color: #052C30;
    --green-color:#006666;
    --light-green-color:#669900;
}




/* style.css start from here  */

.logo a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 75%;
}

header {
    /*background: var(--primary-color);*/
    padding-bottom: 30px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 70px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none !important;
    font-size: 23px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
      font-family: "Inter", sans-serif;
      /* font-weight: 500; */
      color: #063B41;
}

.bredcum a, .bredcum span{
    color: var(--light-green-color);
}

.bredcum h2 {
    margin-top: 20px;
    font-family: mysevenFont;
    font-weight: 300;
}

header nav ul li a:hover {
    color: var(--green-color);
}



.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 2px;
}


/* header ends here  */

.kyliebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kyliebox img {
    width: 300px;
}

#visiting {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
}


.visiting {
    box-shadow: 1px 1px 12px 2px rgb(175 175 175 / 75%);
    padding: 30px;
    width: 356px;
}

.visting-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.visting-text h3 {
    font-size: 40px;
    font-weight: 500;
    color: var(--light-green-color);
    text-align: center;
    line-height: 1;
}

p.paravisitig {
    margin: 12px;
        text-align: center;
}

.footer-anchor a {
    color: #c3c3c3;
}

.footer-anchor li {
    margin-bottom: 14px;
}

.kylie-sign {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.kylie-sign img {
    width: 120px;
}

.mainvisting {
    padding: 2% 2% 2% 2%;
}


/* newsletter section start from her  */


#newsletter {
    background-image: url(../images/subscribe_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.newslettercls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.newslettercls h2 {
    font-size: 30px;
    color: var(--green-color);
    font-weight: 600;
    font-family: mysevenFont;
    letter-spacing: 1px;
}

.newslettercls input {
    padding: 13px;
    font-size: 19px;
    width: 300px;
}

.newslettercls button {
     height: 58px;
    padding: 30px;
    display: FLEX;
    justify-content: center;
    align-items: CENTER;
    background: var(--heading-color);
    color: #fff;
    box-shadow: 5px 5px 0px 0px #287179;
}
.newslettercls form {
    display: flex;
    gap: 15px;
}

/* footer section start from here */
footer {
    background: var(--heading-color);
    padding: 85px 0 20px 0;
    color: #fff;
}

footer h2 {
    font-size: 45px;
}
.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.footer-icon a {
    background: #ffffff;
    color: #063b41;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footergap {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footergap p a {
    color: #c3c3c3;
}
.footergap h4 {
    font-size: 20px;
    margin-bottom: 8px;
}
.rightreserverd p{
    font-family: myEightFont;
        color: #c3c3c3;

}

/* footer ends from here  */

.Aboutsec {
    margin-top: 115px;
}

.imagback {
    background: var(--primary-color);
    position: relative;
    height: 450px;
    width: auto;
    box-shadow: 4px 6px 8px -1px #848484;
}

.imagback img {
    position: absolute;
    top: -14px;
    left: -14px;
    width: 100%;
    height: 100%;
}

.Aboutkylie p{
    margin-bottom: 12px;
    /* font-family: "Questrial", sans-serif; */
    font-family: myForthFont;
    font-size: 16px;
    font-weight: 400;
    color: #494949;
    text-align: justify;
}

.Aboutkylie h2{
    /* font-family: "Questrial", sans-serif; */
     /* font-family: "Playfair Display", serif; */
     font-family: timescgbold;
     font-style: italic;
     color: #669900;
}

.sometext p{
    /* font-family: "Noto Serif", serif; */
    font-family: mytenFont;
    font-size: 18px;
    font-weight: 500;
    color: #404040;
   
    text-align: justify;
}

#breadcum{
    background-image: url(../images/subscribe_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#smallpara{
    background-image: url(../images/subscribe_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding: 40px 0 ;
    margin-top: 50px;
}
section#smallparacontainer {
    padding: 2% 2%;
}